.box-500 {
  max-height: 720px;
  max-width: 1280px;
  background-color: var(--color-grey-light);
}

.title {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  color: var(--primary-dark);
}

.text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: var(--primary-dark);
}

.a {
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0;
  text-align: center;
  margin: 20px auto;
  color: var(--color-blue);
}
