<main class="start_main">
    <nav class ='start_nav_left'>
        <ul class="start_ul">
            <li><a href="/">Стартовая страница </a> </li>
            <li><a href="/login">Страница Входа </a> </li>
            <li><a href="/register" >Страница Регистрации </a> </li>
            <li><a href="/profile">Страница Профиль </a> </li>
            <li><a href="/edit-profile">Страница Редактирования профиля </a> </li>
            <li><a href="/edit-password">Страница Изменения Пароля </a> </li>
            <li><a href="/chart">Страница Чатов </a> </li>
            <li><a href="/500">Ошибка сервера 500 </a> </li>
            <li><a href="/404">Страница не найдена 404 </a> </li>
        </ul>
    </nav>
    <div class="start_right">
        <h1>Стартовая страница</h1>
        <div class="start_div_button">
            {{{button}}}
        </div>

    </div>


</main>
