<main>
<section class="login_formData">
	<h2 class="title">Вход</h2>
	<form action="" method="get">


			<div class="login_inputContainer">
				{{{ login }}}
				<label for="login" class="login_label">Логин</label>
			</div>
			<div class="login_inputContainer">
				{{{ password }}}
				<label for="password" class="login_label">Пароль</label>
			</div>
				{{{ button }}}

	</form>
	{{{ link }}}
</section>
</main>
