<div class="edit_row width100">
    <div class="edit_left">
        <div class="edit_img"></div>
    </div>
	<div class="edit_pass_formData">
		<h2 class="title">Изменить пароль</h2>
		<form action="" method="get">


				<div class="edit_pass_inputContainer">
					{{{ oldPassword }}}
					<label for="oldPassword" class="label">Старый пароль</label>
				</div>
				<div class="edit_pass_inputContainer">
					{{{ password }}}
					<label for="password" class="label">Новый пароль</label>
				</div>
				<div class="edit_pass_inputContainer">
					{{{ password_2 }}}
					<label for="password" class="label">Повторите новый пароль</label>
				</div>
				{{{ button }}}

		</form>
	</div>
</div>
