.edit-pass-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: left;
  width: 100%;
  max-width: 1200px;
  height: content-box;
  border: 1px solid var(--color-grey-light);
  border-radius: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 449px;
  margin: 0 auto;
  padding-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.input {
  width: 100%;
  margin-bottom: 5px;
}

.error {
  margin-top: 5px;
  color: var(--color-red);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  margin: 20px 10px 0;
}

.btns {
  display: flex;
  flex-direction: column;
}
