<main>
	<section class="profileData">
		<div class="sectionAvatar column">
			<div class="fotoUser">
				{{{ avatar }}}

			</div>
			<h2>Иван</h2>
		</div>
		<div class="profileDataSection">
			<div class="formBorder">

				<div class="formUser">
					<p class="rowProfile">
						<p name="email">Почта
						<p>pochta@yandex.ru</p>
                    </p>
					</div>
					<div class="rowProfile">
						<p name="login">Логин
						<p>ivanivanov</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="first_name">Имя
						<p>Иван</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="second_name">Фамилия
						<p>Иванов</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="display_name">Имя в чате
						<p>Иван</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="phone">Телефон
						<p>+7 900 00000000</p>
						</p>
					</div>

				</div>
			</div>
			<a href="/edit-profile" class="blue">Изменить данные</a><br>
            <a href="/edit-password" class="blue">Изменить пароль</a><br>
            <a href="/" class="red">Выйти</a>
		</div>
	</section>
</main>
