.container__main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row nowrap;
    max-width: 1280px;
    max-height: 720px;

}

.container__left-charts {
    max-width: 310px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row nowrap;
    box-sizing: border-box;
    max-height: 720px;
    border-right: solid 1px grey;
    margin: 0 auto;


}

.container__central-charts {
    max-width: 950px;
    max-height: 720px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    box-sizing: border-box;

}

.central-charts {

    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
}

.container__central__header {
    margin-top: 0;
    width: 100%;
    height: 70px;
}

.container__central__footer {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.small-width {
    width: 64px;
    height: 720px;
    background: #FBFBFB;

}
