<aside class="leftNavCharts">
	<header class="headerNavCharts">
		<div>
            <a class="profile_pointer" href="/profile">Профиль </a>
		</div><br>
        <div class="row inputSearchUser">
            <div class="union"></div>
            <div>Поиск</div>

        </div>

	</header>

	<nav class="navChats">

		<div class="childNavCharts">
			{{#each itemsChatUser}}
				{{{this}}}
			{{/each}}
		</div>
	</nav>
</aside>
