

.leftNavCharts {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  min-height: 100%;
  width: 100%;

  align-items: center;

}

.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.union{
  background-image: url('../../symbols/union1.jpg');
  width:13px;
  height: 12px;
}
.search_img{
  width:15px;
  height: 10px;
}
.headerNavCharts {
  display: flex;
  flex-flow: column;
  background-color: var(--white);
  width: 100%;
  align-items: center;
}


.inputSearchUser {
  padding: 7px;
  border-radius: 15px;
  border: 1px solid var(--lightGrey);
  background-color:var(--lightGrey);
  color: var(--black);
  outline: none;
  width: 90%;
  align-content: center;
  align-items: center;

  &::placeholder {
    text-align: center;
    color: var(--lightGrey);
  }

  &:focus,
  &:active {
    border: 1px solid var(--danger);
  }
}

.avatarUserPrf {
  width: 45px;
  height: 45px;
  background-color: var(--darkGrey);
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.linkAvatarUser {
  color: var(--white);
  text-align: center;
}
.charts_header{
  width:100%
}

