@import '../../index.scss';

.left-charts-box {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: column;
    max-width: 310px;
    width: 100%;
    max-height: 720px;


}

.chart-profile {
    height: 30px;
    width: 100%;
    max-width: 310px;
    float: right;
    background-color: $block-background;
}

.search {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $label-text;

    width: 290px;
    height: 32px;
    background-color: $background-image;
    border: 1px solid $background-image;
    border-radius: 5px;
    padding-right: 0;
}

.left-charts-box__child {
    border-bottom: 1px $border-bottom-box solid;
    max-height: 60px;
    width: 100%;
    max-width: 300px;
}
