$error-message: #FF2F2F;
$red: red;

$title-text: #1E1E1E;
$input-text: #1E1E1E;
$p-text: #1E1E1E;

$label-text: #999999;
$button-text: #FFFFFF;
$block-background: #FFFFFF;
$background-charts: #FBFBFB;
$user-profile-left-background: #E5E5E5;
$border-bottom-box: #EAEAEA;
$border-bottom-input-grey: #EAEAEA;
$white: white;
$background-image: #EFEFEF;
$background-post: #E4EDFD;


$background-button: #3369F3;
$a-text: #3369F3;
$border-bottom-input: #3369F3;


$main-font-family: Inter, sans-serif;

