.message_dialog {
  max-width: 90%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
}

.left {
  justify-self: start;
  background-color: var(--dialog);
  border-bottom-left-radius: 0;
}

.right {
  justify-self: end;
  background-color:var(--dialog);
  border-bottom-right-radius: 0;
}

.message_item{
  color: var(--black);
}
.time_right{
  justify-self: end;
}

